<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="MediaStore. createWriteReques"/>
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />



	<application

			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/Theme.AppCompat.Light"

	>
		<service android:name=".MusicManager" android:enabled="true" android:exported="false" />


		<activity android:exported="true"
				  android:name="com.example.periodicclicker.MainActivity"

				  android:screenOrientation="landscape" tools:ignore="DiscouragedApi">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.example.periodicclicker.OptionsActivity"
				  android:screenOrientation="landscape" tools:ignore="DiscouragedApi"/>
		<activity android:name="com.example.periodicclicker.GameActivity"
				  android:screenOrientation="landscape" tools:ignore="DiscouragedApi"/>

		<!-- Możliwe inne aktywności -->
	</application>

</manifest>
